{
  "openapi": "3.0.2",
  "info": {
    "title": "bluegunn API",
    "version": "v1.0",
    "description": "# Overview\nThis API is documented in **OpenAPI format**\n<SecurityDefinitions />"
  },
  "servers": [
    { 
      "url": "https://api.bluegunn.com",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Words"
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Get Token",
        "description": "Get authorization token",
        "operationId": "getToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": { 
                    "type": "string",
                    "description": "Username",
                    "required": true,
                    "example": "admin" 
                  }, 
                  "password": { 
                    "type": "string",
                    "description": "Password",
                    "required": true,
                    "example": "password" 
                  }
                }
              }                          
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": { "type": "string", "example": "Authentication successful" },
                    "data": { 
                      "type": "object",
                      "properties": {
                        "user": { 
                          "type": "object", 
                          "properties": {
                            "created_at": { "type": "string", "example": "2022-07-19 01:03:49" },
                            "updated_at": { "type": "string", "example": "2022-07-19 01:03:49" },
                            "username": { "type": "string", "example": "admin" }
                          }
                        },
                        "token": {
                          "type": "string",
                          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2NTgxOTc4MzAsImlzcyI6ImxvY2FsaG9zdCIsImV4cCI6MTY1ODI4NDIzMCwidXNlcl9pZCI6IjEifQ.V8dSzP14TXGOW-5p5_x77xlX-xV9uExCq27GzDYzKMg"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { 
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Missing username or password" },
                    "data": { 
                      "type": "object",  
                      "example": null
                    }
                  }
                }
              }
            }            
          }
        },
        "security": []
      }
    },
    "/words": {
      "get": {
        "tags": ["Words"],
        "summary": "Get words",
        "description": "Returns a list of words",
        "operationId": "getWords",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": { "type": "string", "example": "Fetched words" },
                    "data": { 
                      "$ref": "#/components/schemas/WordArray"
                    }
                  }
                }
              }
            }
          },
          "400": { 
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Unknown error" },
                    "data": { 
                      "type": "object",  
                      "example": null
                    }
                  }
                }
              }
            }            
          }
        },
        "security": [{ "OAuth2": ["read:words"] }]
      },
      "post": {
        "tags": ["Words"],
        "summary": "Create word",
        "description": "Add new words",
        "operationId": "createWord",
        "requestBody": {
          "description": "Create new words",
          "content": {
            "application/json": {
              "schema": { 
                "$ref": "#/components/schemas/Word"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": { "type": "string", "example": "Created words" },
                    "data": { 
                      "$ref": "#/components/schemas/WordArray"
                    }
                  }
                }
              }
            }
          },
          "400": { 
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Expecting array of strings" },
                    "data": { 
                      "type": "object",  
                      "example": null
                    }
                  }
                }
              }
            }            
          }
        },
        "security": [{ "OAuth2": ["write:words"] }]
      }  
    },
    "/words/{id}": {
      "get": {
        "tags": ["Words"],
        "summary": "Get word by Id",
        "description": "Returns a list of words",
        "operationId": "getWordById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the word",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": { "type": "string", "example": "Fetched word" },
                    "data": { 
                      "$ref": "#/components/schemas/WordArray"
                    }
                  }
                }
              }
            }
          },
          "400": { 
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Bad Request" },
                    "data": { 
                      "type": "object",  
                      "example": null
                    }
                  }
                }
              }
            }            
          },
          "404": { 
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Not Found" },
                    "data": { 
                      "type": "object",  
                      "example": null
                    }
                  }
                }
              }
            }            
          }
        },
        "security": [{ "OAuth2": ["read:words"] }]
      },          
      "put": {
        "tags": ["Words"],
        "summary": "Replace word",
        "description": "Replace existing word",
        "operationId": "replaceWordById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the word",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],        
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { 
                "$ref": "#/components/schemas/Word"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": { "type": "string", "example": "Replaced word" },
                    "data": { 
                      "$ref": "#/components/schemas/WordArray"
                    }
                  }
                }
              }
            }
          },
          "400": { 
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Expecting array of objects" },
                    "data": { 
                      "type": "object",  
                      "example": null
                    }
                  }
                }
              }
            }            
          }
        },
        "security": [{ "OAuth2": ["write:words"] }]
      },
      "patch": {
        "tags": ["Words"],
        "summary": "Update word",
        "description": "Update word by Id",
        "operationId": "updateWordById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the word",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],        
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { 
                "$ref": "#/components/schemas/Word"  
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": { "type": "string", "example": "Updated word" },
                    "data": { 
                      "$ref": "#/components/schemas/WordArray"
                    }
                  }
                }
              }
            }
          },
          "400": { 
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Expecting array of ids" },
                    "data": { 
                      "type": "object",  
                      "example": null
                    }
                  }
                }
              }
            }            
          }
        },
        "security": [{ "OAuth2": ["write:words"] }]
      },        
      "delete": {
        "tags": ["Words"],
        "summary": "Delete word",
        "description": "Delete word by Id",
        "operationId": "deleteWordById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the word",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }            
          }
        ],        
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": { "type": "string", "example": "Deleted word" },
                    "data": { 
                      "$ref": "#/components/schemas/WordArray" 
                    }
                  }
                }
              }
            }
          },
          "400": { 
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "message": { "type": "string", "example": "Expecting array of ids" },
                    "data": { 
                      "type": "object",  
                      "example": null
                    }
                  }
                }
              }
            }            
          }
        },
        "security": [{ "OAuth2": ["delete:words"] }]
      } 
    }
  },
  "components": {
    "schemas": {
      "Id": { 
        "type": "integer", 
        "format": "int32",
        "readOnly": true, 
        "example": 10 
      }, 
      "Word": {
        "required": ["id","word"],
        "type": "object",
        "properties": {
          "id": { "$ref": "#/components/schemas/Id" },
          "word": { 
            "type": "string", 
            "example": "doggie" 
          }
        }
      },
      "WordArray": {
        "type": "array", 
        "items": { "$ref": "#/components/schemas/Word" }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "password": {
            "tokenUrl": "/token",
            "scopes": {
              "read:words": "read words",
              "write:words": "write words",
              "delete:words": "delete words"
            }            
          }
        }
      }
    }
  }
}
